include README.md
include LICENSE
include pyproject.toml
include setup.py
recursive-include csrc *.cpp *.cu *.h *.cuh CMakeLists.txt
recursive-include src *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.so
recursive-exclude * .DS_Store
recursive-exclude build *
recursive-exclude dist *
recursive-exclude third_party *
